<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atualizar</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <header>
            <img class="logo" src="logo.jpg">
        </header>
        <div class="cadastro">
           <h1>Atualizar</h1>
           <hr>
           <form action="" method="POST">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="{{pessoa.nome}}"></td>

                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" id="telefone" value="{{pessoa.telefone}}">

                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="{{pessoa.email}}">

                <input type="submit" value="Atualizar Dados">
        </form>
        <br>
        <a href="/index">Voltar</font></a> 
        </div>
        <footer>
            &copy; 2018 - J & J Sistemas Inteligentes
        </footer>
    </body>
<html>
